.form-custom{
    border: 1x solid #cccccc;
    border-radius: 10px;
    height: fit-content;
}
button[type="submit"]{
    border: none;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
}